body {
  width:90%;
  margin: 0 auto;
  font-family: Georgia, Times, serif;
  background-color: color= #9ed6c2;
}

#content {
  overflow: auto;}

#nav, #feature, #footer, {
  margin: 1%;}

.column1, .column2, .column3, {
  width: 31.3%;
  float: left;
  margin: 1%;}
.column3 {margin-right: 0%;}

li {

  padding: 0.5em;
  line-height: 1.4em;

}
h1, h2, h3, h4, h5, h6 {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
  background-color: inherit;
  letter-spacing: 0.1em;
}
p {
  font-family: Georgia, Times, serif;
  background-color: inherit;
}
ol {
  list-style-type: inside decimal;
}
ul {
  list-style: inside circle;

}
.nav {
  li {inline}
}
#nav, #footer {
  background-color: #efefef;
  padding: 0.5em 0;
  }
#feature, .article {
  height: 10 em;
  margin-bottom: 1em;
  background-color: #efefef;
}
